%hr/
#footer
  :markdown
    Haml &copy; 2006-#{Date.today.year}
    [The Haml Team](about.html#the_haml_team)
    and numerous contributors.
    It is available for use and modification
    under the [MIT license](/docs/yardoc/file.MIT-LICENSE.html).
