:markdown
  ## Standard Gem

  Most people will just want the standard stable Haml gem.
  To install this:

      gem install haml

  ## Pre-release Gem

  To get the latest and greatest Haml goodness, you can install the prerelease
  gem: 
  
      gem install haml --pre
  
  You can see what versions of Haml are available on its page on
  [Rubygems](https://rubygems.org/gems/haml).
