.content
  %h1
    = img 'img-badge-download.png', alt: 'Download'
    Download
  = partial 'subnav'

  :markdown
    ## Standard Gem

    Most people will just want the standard stable Haml gem. To install this:

  %pre gem install haml

  :markdown
    ## Pre-Release Gem

    To get the latest and greatest Haml goodness, you can install the prerelease
    gem:

  %pre gem install haml --pre

  :markdown
    You can see what versions of Haml are available on its page on
    [RubyGems](https://rubygems.org/gems/haml).

    ## Git

    You can access Haml's source code from its [GitHub repository](https://github.com/haml/haml).

