:markdown

  Haml has a thriving community that’s eager to help out. There are several
  places where you can go to ask questions or help you debug problems. Before
  you do, though, make sure to check the <a href="/docs/yardoc/file.FAQ.html">FAQ</a>.

  Norman is on Twitter as <a href="http://twitter.com/compay">@compay</a> and
  usually responds to questions very quickly.

  The Haml IRC channel, #haml on irc.freenode.net, is a great place to ask
  questions.

  If you have a longer question (or no one’s around on IRC at the moment), the
  <a href="https://groups.google.com/forum/?fromgroups#!forum/haml">Haml Google
  group</a> is a great place to go. You’ll usually get a response within a day
  or so; sooner, if the developers are paying attention when you send it.