.content
  %h1
    = image_tag 'img-badge-help.png', alt: 'Help'
    Help
  = partial 'subnav'

  :markdown
    Haml has a thriving community that's eager to help out. There are several places where you can go to ask questions or receive debugging assistance. Before you do, though, make sure to check the [FAQs](/docs/yardoc/file.FAQ.html).

    * Norman is on Twitter as [@compay](http://twitter.com/compay) and usually responds to questions very quickly.
    * The Haml IRC channel, #haml on irc.freenode.net, is a great place to ask questions.
    * If you have a longer question (or no one’s around on IRC at the moment), the [Haml Google Group](https://groups.google.com/forum/?fromgroups#!forum/haml) is a great place to go. You’ll usually get a response within a day or so &mdash; sooner, if the developers are paying attention when you send it.
